.comment-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.comment-item {
    margin-bottom: 15px;
}

.comment-list {
    list-style-type: none;
    padding: 0;
}

.modal-wrapper {
    position: relative;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Черный фон с прозрачностью */
    z-index: 10; /* Убедитесь, что overlay находится позади модального окна */
    transition: opacity 0.3s ease;
}

.modal {
    position: relative;
}

.modal-dialog {
    z-index: 1050 !important;
}

.modal-enter {
    opacity: 0;
}

.modal-enter-active {
    opacity: 1;
    transition: 0.3s ease;
}

.modal-exit {
    opacity: 1;
}

.modal-exit-active {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.bi-chat-left-text {
    color: #f4f5f7 !important;
}