body {
    background-color: #0a0a0a;
}

.postContainer {
    display: flex;
    align-items: center;
}

.userPostsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-content {
    color: #f4f5f7;
    background-color: #171717;
    border-color: #2d2d2d;
}

.modal-content input, #content {
    color: #f4f5f7 !important;
    background-color: #171717 !important;
    border-color: #2d2d2d;
}

input[type="file"]::-webkit-file-upload-button {
    background-color: #007bff !important; /* Синий цвет */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.modal-footer {
    border-color: #2d2d2d;
}

.modal-header {
    border-color: #2d2d2d;
}